asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.7
envdir==0.7
feedparser==5.2.1
gunicorn==19.7.1
html2text==2016.9.19
idna==2.5
olefile==0.44
Pillow==4.2.0
psycopg2==2.7.1
pycparser==2.17
pyOpenSSL==17.1.0
requests==2.18.1
simplejson==3.11.1
six==1.10.0
static3==0.7.0
urllib3==1.21.1
