Django==1.9.8
Pillow==3.3.0
cffi==1.7.0
cryptography==1.4
dj-database-url==0.4.1
dj-static==0.0.6
envdir==0.7
feedparser==5.2.1
gunicorn==19.6.0
html2text==2016.5.29
idna==2.1
ndg-httpsclient==0.4.2
psycopg2==2.6.2
pyOpenSSL==16.0.0
pyasn1==0.1.9
pycparser==2.14
requests==2.10.0
simplejson==3.8.2
six==1.10.0
static3==0.7.0
