certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.3
dnspython==1.16.0
envdir==1.0.1
eventlet==0.25.1
feedparser==5.2.1
greenlet==0.4.15
gunicorn==20.0.4
html2text==2019.9.26
idna==2.8
monotonic==1.5
Pillow==8.0.1
psycopg2==2.8.4
pycparser==2.19
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.22.0
sentry-sdk==0.19.4
simplejson==3.17.2
six==1.12.0
static3==0.7.0
urllib3==1.26.2
