{% load staticfiles %}
<html>
 <head>
  <link href="{% static "screen.css" %}" type="text/css" rel="stylesheet" />
  <link href="{% static "prettify.css" %}" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{% static "prettify.js" %}"></script>
 </head>
 <body onload="prettyPrint()">
  <h1>HTML Response</h1>
  <p>This response is HTML formatted. To get just the JSON data for processing in your client, <a href="/#accept">send the HTTP Header <em>Accept: application/json</em></a>. <a href="/">Back to the Documentation</a></p>
  {% autoescape off %}
   <pre class="prettyprint">{{ response }}</pre>
  {% endautoescape %}
 </body>
</html>
