<html>
 <head>
  <link href="media/screen.css" type="text/css" rel="stylesheet" />
  <link href="media/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="media/prettify.js"></script>
 </head>
 <body onload="prettyPrint()">
  <h1>HTML Response</h1>
  <p>This response is HTML formatted. To get just the JSON data for processing in your client, <a href="/#accept">send the HTTP Header <em>Accept: application/json</em></a>. <a href="/">Back to the Documentation</a></p>
  <pre class="prettyprint">{{ response }}</pre>
 </body>
</html>
